<link rel="stylesheet" href="css/contacto.css">

<div class="contenedor">
    <form > 
        <input type="text" placeholder="Nombre" >
        <input type="text" placeholder="Correo Electronico" >
        <textarea name="mensaje" id="mensaje" cols="30" rows="10" placeholder="Escriba su mensaje..." ></textarea>
        <button type="submit">Enviar!</button>
    </form>

</div>
<div class="errores" *ngIf="Nombre?.touched && Nombre?.errors">
    <p> El Nombre tiene error</p>
</div>
<div class="errores" *ngIf="Correo?.touched && Correo?.errors">
    <p> El Email tiene error</p>
</div>
